body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffe6e6;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: #666;
}

h1 {
    color: #333;
    border-bottom: 1px solid #99ccff;
    border-left: 1px solid red;
    padding-left: 20px;
    padding-top: 30px;
    margin: 0px 0px 0px 20px;
    font-size: 25px;
}

h2 {
    color: #333;
    border-bottom: 1px solid #99ccff;
    border-left: 1px solid red;
    padding-left: 20px;
    padding-top: 40px;
    margin: 0px 0px 0px 20px;
    font-size: 25px;
}

h3 {
    border-bottom: 1px solid #99ccff;
    border-left: 1px solid red;
    margin: 0px 0px 0px 20px;
    padding-right: 90px;
    font-family: 'Shadows Into Light', cursive;
    text-align: right;
    font-size: 25px;
    color: #2d2d2d8c;
}

h4 {
    color: #333;
    border-left: 1px solid red;
    padding-left: 20px;
    padding-top: 40px;
    margin: 0px 0px 0px 20px;
    font-size: 25px;
}

h5 {
    padding-bottom: 40px;
    font-family: 'Patrick Hand', cursive;
    color: #fff;
    font-size: 25px;
    margin: 0px;
}

.outer-container {
    width: 600px;
    text-align: center;
    padding: 60px;
}

.date {
    font-family: 'Shadows Into Light', cursive;
    text-align: right;
    color: #ff8383;
}

.container {
    text-align: left;
    background-color: #ffffde;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    margin: 0px;
}

.new {
    border-bottom: 1px solid #99ccff;
    border-left: 1px solid red;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0px 0px 0px 20px;
    font-size: 20px;
}

@media (max-width: 600px) {
    .outer-container {
	width: 90%;
    }
    .video {
	width: 90%;
    }
}
